/*
#main {
    min-height: 200px;
    border: 1px solid black;
}

#actions, #stats {
    min-height: 30px;
    border: 1px solid black;
    margin-top: 10px;
}

#main, #stats, #actions {
    padding: 15px;
}
*/

.container {
	margin-top: 20px;
}

#action-bar button {
	margin-left: 15px;
	padding: 10px;
	position: relative;
	left: 10px;
}

.footer {
	margin-top: 15px;
	font-size: 0.7em;
	font-weight: bold;
	color: #474746;
}

#attack {
	
}

#defend {
	
}

#left-pane, #main, #right-pane, #player_stats, #actions, #enemy_stats {
	padding: 8px;
	background-color: #eeebeb;
    -webkit-border-radius: 10px;
		-moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#left-pane, #main, #right-pane {
	min-height: 300px;
	margin-bottom: 25px;
}

.box {
	padding: 15px;
}

.health-bar, .magic-bar {
	padding: 0 10px;
}

.bar li {
    display: block;
    float: left;
    margin-right: 10px;
}

.alert-neutral {
  color: #313131;
  background-color: #edf0f0;
  border-color: #d2e2e2;
}

.alert-neutral h3 {
  color: #424242;
}

#human {
	position: relative;
	top: 20px;
	left: 20px;
}

#slime {
	position: relative;
	top: 130px;
}

#skeleton {
	position: relative;
	top: 20px;
	left: 10px;
}

#ogre {
	position: relative;
	top: 50px;
}

#troll {
	position: relative;
	top: 20px;
	left: 20px;
}

#goblin {
	position: relative;
	top: 20px;
	left: 20px;
}

