body {
    background-color: #f0f0f0;
}

.box {
	background: #fff;
	padding: 5px 10px;
    -webkit-border-radius: 10px;
		-moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
	
	.box h1 {
		margin-bottom: 20px;
	}
	
.spacing-top {
	margin-top: 10px;
}

.list-sprite {
	height: 25%;
}
	.table-enemies tr {
		height: 80px;
	}
	
#output {
	padding: 10px;
}

.cl_item {
	position: relative;
	left: 20px;
	top: -29px;
	width: 630px;
}

	.cl_entry {
		/*background-color: #d8e8f0;*/
		padding: 3px 15px;
		  background-color: #d9edf7;
		  border: 1px solid #bce8f1;
			
		-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
				border-radius: 10px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				box-shadow: 0 1px 2px rgba(0,0,0,.05);
	}